@charset "utf-8";




#wrap_123 {
	width:530px;
	margin:20px auto 0;
	height:1000px;
}
#wrap_123 h1 {
	margin-bottom:20px;
	text-align:center;
	font-size:48px;
	text-shadow:0 1px 0 #ede8d9;
}
#form_wrap_123 {
	overflow:hidden;
	height:346px;
	position:sticky;
	top:0px;
 -webkit-transition: all 1s ease-in-out .3s;
 -moz-transition: all 1s ease-in-out .3s;
 -o-transition: all 1s ease-in-out .3s;
 transition: all 1s ease-in-out .3s;
}
#form_wrap_123:before {
	content:"";
	position:absolute;
	bottom:128px;
	left:0px;
	background:url('../../image/before.png');
	width:530px;
	height: 316px;
}
#form_wrap_123:after {
	content:"";
	position:absolute;
	bottom:0px;
	left:0;
	background:url('../../image/after.png');
	width:530px;
	height: 260px;
}
#form_wrap_123.hide:after, #form_wrap.hide:before {
	display:none;
}
#form_wrap_123:hover {
	height:776px;
	top:-200px;
}
#123:form {
	background:url('../../image/letter_bg.png');
	position:relative;
	top:200px;
	overflow:hidden;
	height:200px;
	width:400px;
	margin:0px auto;
	padding:20px;
	border: 1px solid #fff;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: 0px 0px 3px #9d9d9d, inset 0px 0px 27px #fff;
	-moz-box-shadow: 0px 0px 3px #9d9d9d, inset 0px 0px 14px #fff;
	-webkit-box-shadow: 0px 0px 3px #9d9d9d, inset 0px 0px 27px #fff;
 -webkit-transition: all 1s ease-in-out .3s;
 -moz-transition: all 1s ease-in-out .3s;
 -o-transition: all 1s ease-in-out .3s;
 transition: all 1s ease-in-out .3s;
}
#form_wrap_123:hover form {
	height:530px;
}
.123 label {
	margin: 11px 20px 0 0;
	font-size: 16px;
	color: #b3aba1;
	text-transform: uppercase;
	text-shadow: 0px 1px 0px #fff;
}
.123 input[type=text], textarea {
	font: 14px normal normal uppercase helvetica, arial, serif;
	color: #7c7873;
	background:none;
	width: 380px;
	height: 36px;
	padding: 0px 10px;
	margin: 0 0 10px 0;
	border:1px solid #f8f5f1;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: inset 0px 0px 1px #726959;
	-webkit-box-shadow:  inset 0px 0px 1px #b3a895;
	box-shadow:  inset 0px 0px 1px #b3a895;
}
.123 textarea {
	height: 80px;
	padding-top:14px;
}
.123 textarea:focus, input[type=text]:focus {
	background:rgba(255, 255, 255, .35);
}
#form_wrap_123 input[type=submit] {
	position:relative;
	font-size:24px;
	color: #7c7873;
	text-shadow:0 1px 0 #fff;
	width:100%;
	text-align:center;
	opacity:0;
	background:none;
	cursor: pointer;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
 -webkit-transition: opacity .6s ease-in-out 0s;
 -moz-transition: opacity .6s ease-in-out 0s;
 -o-transition: opacity .6s ease-in-out 0s;
 transition: opacity .6s ease-in-out 0s;
}
#form_wrap_123:hover input[type=submit] {
	z-index:1;
	opacity:1;
 -webkit-transition: opacity .5s ease-in-out 1.3s;
 -moz-transition: opacity .5s ease-in-out 1.3s;
 -o-transition: opacity .5s ease-in-out 1.3s;
 transition: opacity .5s ease-in-out 1.3s;
}
#form_wrap_123:hover input:hover[type=submit] {
	color:#435c70;
}